<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Add Book</title>
</head>
<body>
<section layout:fragment="content">

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Book details</h4>

                <form class="forms-sample" >
                    <div class="form-group">
                        <label for="exampleInputName1">Book Title:</label>
                        <input type="text" class="form-control" id="exampleInputName1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Author:</label>
                        <input type="text" class="form-control" id="exampleInputEmail3">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Publication Date:</label>
                        <input type="text" class="form-control" id="exampleInputPassword4" >
                    </div>

                    <div class="form-group">
                        <label for="exampleInputCity1">Category</label>
                        <input type="text" class="form-control" id="exampleInputCity1" >
                    </div>

                    <div class="form-group">
                        <label for="exampleTextarea1">Book-ID</label>
                        <input type="text" class="form-control" id="exampleTextarea1" >
                    </div>

                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>
